#sudoku-table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
    margin: 2.5vh;
    height: 95vh;
    width: 95vh;
    cursor: crosshair;
}

#sudoku-table td {
    width: 11.1%;
    height: 11.1%;
    border: 1px solid black;
    text-align: center;
    font-size: 6vh;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#sudoku-table td:nth-child(3n) {
    border-right: 3px solid black;
}

#sudoku-table tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

.wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr 1fr 5fr
}

.empty-cell {
    color: transparent;
}

.empty-cell:hover {
    outline: 5px dashed red;
    outline-offset: -2px;
    color: #8a8a8a;
}

#game-container {
    grid-column: 1;
    grid-row: 1 / 4;
}

#score-container {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 5vh;
    padding: 3vh;
}

#score {
    font-size: 12vh;
}

#buttons {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

#buttons button {
    float: left;
    flex: 1;
}

#info {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    font-size: 5vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#next-numbers-container {
    font-size: 7vh;
    grid-column: 2;
    grid-row: 4;
    padding: 3vh;
    text-align: center;
}

#next-numbers div {
    display: inline-block;
    width: 12vh;
    height: 12vh;
    font-size: 10vh;
    border: 1px solid black;
    border-radius: 12vh;
    margin-top: 5vh;
    margin-right: 4px;
}

#next-numbers div:nth-child(1) {
    margin-right: 8px;
    border: 2px solid black;
    transform: scale(1.2);
}

.hl-illegal:not(.empty-cell) {
    animation: fade1 0.8s;
}

.timer {
    margin-top: 10vh;
    height: 2vh;
    background: red;
    animation: shorten 10s linear;
}

.fade-text {
    animation: fade2 3s ease-in;
    color: transparent;
}

@keyframes shorten {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes fade1 {
    from {
        color: red;
        background-color: #faa;
    }
    to {
        color: black;
        background-color: transparent;
    }
}

@keyframes fade2 {
    from {
        color: black;
    }
    to {
        color: transparent;
    }
}