body {
    background-image: url("road.jpeg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    overflow: hidden;
}

.hitch {
    position: absolute;
    height: 30vw;
    top: 23vw;
    left: 75vw;
}
.hitch img {
    position: absolute;
    height: 30vw;
}

#thumb {
    transition: transform 2s ease;
    transform-origin: 46.8% 25%;
    transform: rotate(-75deg);
}

#sign {
    transition: transform 4s ease;
    transform-origin: 61% 21%;
    transform: rotate(-45deg);
}

#signContainer {
    height: 30vw; width: 20vw;
}

#signText {
    position: absolute;
    left: 2.7vw;
    top: 10.8vw;
    width: 6vw;
    overflow: hidden;
    font-size: 1.5vw;
    font-family: "Comic Sans MS";
    text-align: center;
}

.rotate {
    transform: rotate(0deg) !important;
}

#car {
    position: absolute;
    left: 80vw; top: 44vw; height: 200vw;
    animation: 4s driveby cubic-bezier(0, 1, 0, 1) infinite;
}

@keyframes driveby {
    0%{left: 72.5vw; top: 41.7vw; height: 150vw;}
    100% {left: 50vw; top: 34.2vw; height: 0vw;}
}

#hitchButton {
    position: absolute;
    left: 38vw;
    right: 38vw;
    bottom: 20px;
    font-size: 3vw;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
}

#timer {
    display: none;
    position: absolute;
    color: white;
    font-family: Arial;
    font-size: 3vw;
    left: 2vw;
    bottom: 20px;
}

#chatContainer {
    width: 30vw;
    max-width: 400px;
    border: 1px solid gray;
    text-align: center;
    background: rgba(218, 218, 218, 0.788);
}

#chat {
    text-align: left;
    height: 30vw;
    border-top: 1px solid gray;
    overflow: auto;
    font-size: .85rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#chat > div {
    padding: .3rem 1rem;
    font-weight: 100;
}

#chat .timestamp {
    color: gray;
}
#chat span:after {content:" "}
#chat .nick {
    font-weight: 600;
    color: #DC0000;
}

#about {
    font-size: .7rem;
    position: absolute;
    right: 10px;
    top: 5px;
}